.cabecalho__menu-hamburguer {
  width: 48px;
  height: 48px;
  
  background-image: url("../images/Menu.svg");
  background-position: center;
  display: inline-block;
  transition: .6s;
}

.container__rotulo {
  padding: 1em;
  background-color: var(--branco);
}

.container__botao:checked ~ 
.container__rotulo > 
.cabecalho__menu-hamburguer {
  background-image: url("../images/Menu Aberto.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.container__botao:checked ~ 
.container__rotulo {
  background: var(--azul-degrade);
}

.opcoes__botao:checked ~ 
.opcoes__rotulo > .opcoes__item {
  background: var(--azul-degrade);
  color: var(--branco)
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--branco);
  position: relative;
}

.container {
  display: flex; 
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.container__botao:checked ~ .lista-menu {
  display: block;
  position: absolute;
  top: 100%;
} 

.lista-menu__titulo {
  padding: 1em 8em 1em 1em;
  background-color: var(--branco)
}

.lista-menu__item {
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  padding: 1em 8em 1em 1em;
  display: block;
  
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
}

.opcoes,
.container__texto,
.container__titulo,
.lista-menu {
  z-index: 2;
  display: none;
}

.lista-menu__link:hover {
  background: var(--azul-degrade);
  cursor: pointer;
  text-fill-color: var(--branco);
  -webkit-text-fill-color: var(--branco);
}



@media screen and (min-width: 1024px){
  
  .cabecalho__menu-hamburguer,
  .container__imagem-transparente {
    display: none;
  }

  .container__titulo,
  .container__titulo-negrito {
    display: block;
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    
    padding-top: 20px;
  }

  .container__titulo-negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    text-transform: uppercase;
    padding: 2em 1em;
  }

  .opcoes__link {
    color: var(--preto);
    padding: 2em 1em;
  }

  .opcoes__botao:checked~.lista-menu {
    display: block;
    width: auto;
    position: absolute;
    top: 100%;
  }

  .lista-menu__titulo,
  .lista-menu__item {
  z-index: 2;
  background-color: var(--branco);
  }
}

@media screen and (min-width: 1728px){
  
  .cabecalho {
    padding: 0 2em;
  }

  .container__texto {
    display: block;
  }
  
  .contaier__link {
    display: flex;
    align-items: center;

    colro: var(--preto);
  }

  .container__imagem {
    margin-right: -1em;
  }

  .container__titulo {
    margin-right: 1em;
  }

  .opcoes {
    margin-right: auto;
    padding-top: 22px;
  }
}